@import 'imports';
// variable colors 
$orange: #F23835;
$darkMain: #1B1B1C;
$darkMinor: #242529;
$pureWhite: #ffffff;
$darkWhite: #b5c1ff;
$searchColor: #3a3e4e9c;
$redMain: #FF1F17;


// variable fonts
$poppins: 'Poppins', sans-serif;